:root {
    // color

    --primary: #a7001e;
    --primary-middle-light: #ef002c;
    --primary-light: #ffd3d3;
    --primary-middle: #260007;
    --primary-dark: #170004;

    // messages color

    --good-message: #139700;
    --bad-message: #ff0000;


    // font

    @font-face {
        font-family: 'Roboto', sans-serif;
        src: url(../font/Roboto-Bold.ttf) format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto', sans-serif;
        src: url(../font/Roboto-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto';
        src: url(../font/Roboto-Light.ttf) format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Marck Script';
        src: url(../font/MarckScript-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Protest Revolution';
        src: url(../font/ProtestRevolution-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    --font-body: 'Roboto',
    sans-serif;
    --font-title: 'Protest Revolution',
    cursive;
    --font-citation: 'Marck Script',
    sans-serif;
}