@use 'variables';
@use 'reset';
@use 'media-queries' as *;
@use 'bases';
@use 'utilities';
@use 'buttons';
@use 'header';

.grid-container {
    display: grid;
    grid: 'header' auto 'main' auto 'footer' auto / auto;

    main {
        grid-area: main;
    }

    footer {
        grid: footer;
    }
}