html {
    font-size: 62.5%;
}

body {
    background: var(--primary-dark);
    color: var(--primary-light);
    font-family: var(--font-roboto);
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: 700;
}

img {
    max-width: 100%;
}