.btn {
    background: var(--primary-super-light);
    color: var(--primary-light);
    font-weight: 700;
    padding: 1rem 2rem;

    i {
        color: var(--primary-light);
        margin-right: 0.5rem;
    }
}