:root {
    // Primary color

    --primary: #a7001e;
    --primary-super-light: #ef002c;
    --primary-light: #ffd3d3;
    --primary-middle: #260007;
    --primary-dark: #170004;

    // Messages color

    --good-message: #139700;
    --bad-message: #ff0000;
}