@import "tailwindcss";

:root {
  /* 🎨 Colors */
  --bg-primary: #0d1b2a;
  --surface: #5b1e33;
  --accent: #9e0031;

  --text-primary: #f7f7f7;
  --text-muted: #a1a1aa;

  /* 🖋️ Typography */
  --font-heading: "Catchy Mager", cursive;
  --font-body: "Montserrat", sans-serif;

  /* 📐 Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* 🌫️ Shadows */
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-body, sans-serif);
}

@keyframes heroScroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    transform: translateY(24px);
    opacity: 1;
  }

  100% {
    transform: translateY(32px);
    opacity: 0;
  }
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.snake-border {
  position: relative;
}

.snake-border::before {
  content: '';
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  padding: 1px;

  background: conic-gradient(from 0deg,
      transparent 0%,
      transparent 70%,
      white 85%,
      transparent 100%);

  animation: border-spin 2.5s linear infinite;

  opacity: 0;
  transition: opacity 0.3s ease;

  /* mask pour ne garder que la bordure */
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.group:hover .snake-border::before {
  opacity: 1;
}